{% extends bill_base %}
{% load static %}
{% load custom_filters_sec %}
<style>
    .frame {
        border: 2px solid #000; /* Adjust border color as needed */
        padding: 10px; /* Adjust padding as needed */
        text-align: center;
        margin-bottom: 20px;
    }
</style>

{% block title %} Offre n° : {{ offer.offer_no }}{% endblock title %}

{% block content %}
    <div style="color: #575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Offre n° :  DV-{{ offer.offer_no }}</div>

    <form method="post">
        {% csrf_token %}
        <div class="bg">
            <br>
            <div id="printArea" class="bg">
                
                    <tbody>
                        <!-- Header -->
                        <tr style="height: 1px;">
                            <td>
                                <p style="text-align: center;"><strong>Devis & Facture Proforma N° {{ offer.offer_no }}</strong></p>
                            </td>
                        </tr>
                        <!-- Company Information -->
                        
                        
                        <div style="overflow: hidden; padding-bottom: 20px;">
                            <!-- Company Logo -->
                            <div style="float: left; margin-right: 20px;">
                                <img src="{% static 'SAM.png' %}" alt="Company Logo" style="max-width: 150px; height: auto;">
                            </div>
                        
                            <!-- Company Title -->
                            <div style="float: right;">
                                <p class="title" style="font-size: 1.5rem;"><strong>S.G.B : Le Client d'abord</strong></p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>

                                <div class="frame" style="border: 1px solid #000; padding: 10px; text-align: center; margin-bottom: 20px; float: left; width: 45%;">
                                    <div class="header" style="margin-bottom: 20px;">
                                        <p class="title" style="font-size: 1.5rem;"><strong>Devis & Facture Proforma</strong></p>
                                        <p class="subtitle"style="font-size: 0.8rem;"> <strong>Numéro : {{ offer.time.date|date:"y" }}DVSGB{{ offer.time.date|date:"m" }}-{{ offer.offer_no }}</strong></p>

                                        <hr>
                                        <div class="subtitle-container" style="text-align: center;">
                                            <p class="title" style="font-size: 1.1rem;"><strong>STE. SAM GLOBAL BUSINESS</strong></p>
                                            
                                            <!-- Location Icon -->
                                            <p style="margin-bottom: px;"><i class="fas fa-map-marker-alt"></i> ROUTE TUNIS KM 4, NABEUL 8000</p>
                                            
                                            <!-- Email Icon -->
                                            <p style="margin-bottom: 3px;"><i class="far fa-envelope"></i> contact.sgb.bois@gmail.com</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="frame" style="border: 1px solid #000; padding: 10px; text-align: center; margin-bottom: 20px; float: right; width: 45%;">
                                    <div class="header" style="margin-bottom: 20px;">
                                        <p class="subtitle" style="font-size: 0.7rem; float: left;"> Date: <span id="formattedDate"></span></p>
                                        <p class="title" style="font-size: 1.5rem;"><strong>Mr. {{ offer.name }} </strong></p>
                                        <hr>
                                        <div class="subtitle-container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;">
                                            <div style="width: 30%;">
                                                <strong>Adresse:</strong> {{ offer.address }}
                                            </div>
                                            <div style="width: 25%;">
                                                <strong>Tél:</strong> {{ offer.phone }}
                                            </div>
                                            <div style="width: 40%;margin-bottom: 50px;">
                                                <strong>TVA:</strong> {{ offer.gstin }}
                                            </div>
                                            <div style="width: 100%;">
                                                <strong>E-mail:</strong> {{ offer.email }}
                                            </div>
                                            <div style="width: 100%;">
                                                <strong>Contact:</strong>
                                                <input type="text" name="destination" class="align-middle" style="border: 0; overflow: hidden;" value="{% if offerdetails.destination %}{{ offerdetails.destination }}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <style>
                                    .outer-box {
                                        width: 100%;
                                        border-collapse: collapse;
                                        margin: 0 auto;
                                        
                                    }
                                
                                    .inner-box {
                                        font-size: 0.9rem;
                                        text-align: center;
                                        padding: 8px;
                                        border: 1px solid #ddd;
                                    }
                                
                                    .inner-box-header {
                                        background-color: #ADD8E6;
                                    }
                                
                                    
                                
                                    .tax-calculation-table {
                                        width: 50%; /* Adjust the width as needed */
                                        margin: 20px auto;
                                         /* Add some margin for spacing */
                                    }
                                </style>
                                
                                <table class="outer-box">
                                    <thead>
                                        <tr class="inner-box inner-box-header">
                                            <th style="width: 5%;">Ref</th>
                                            <th style="width: 17%;">N° Colis</th>
                                            <th style="width: 30%;">Article</th>
                                            <th style="width: 12%;">PU</th>
                                            <th style="width: 12%;">{% if offer.sale_type == 'quantity' %} QTE {% else %} Surface total {% endif %}</th>
                                            
                                            <th style="width: 12%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                            <tr>
                                                <td class="inner-box">&nbsp; {{ forloop.counter }}</td>
                                                <td class="inner-box">&nbsp; Colis N°:{{ item.stock.name }}</td>
                                                <td class="inner-box" >
                                                    &nbsp;<strong>{{ item.stock.wood_type }}</strong>
                                                    <strong>EP</strong> {{ item.stock.thickness }} mm/<strong>LG</strong> {{ item.stock.length }} m
                                                </td>
                                                
                                                <td class="inner-box">&nbsp; <strong>{{ item.per_price|floatformat:3|format_price }}</strong> DT</td>
                                                <td class="inner-box">
                                                    {% if offer.sale_type == 'quantity' %}
                                                        &nbsp; <strong>{{ item.quantity|floatformat:0 }}</strong> Piece
                                                    {% else %}
                                                        &nbsp; <strong>{{ item.cubic_meter }}</strong> m³
                                                    {% endif %}
                                                </td>
                                                <td class="inner-box total-item">&nbsp; <strong>{{ item.total_price|floatformat:3|format_price }}</strong></td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="inner-box inner-box-total">
                                            <th class="inner-box">&nbsp;TOTAL</th>
                                            <td class="inner-box" colspan="3"></td>
                                            <td class="inner-box total-cubic-meter">
                                                {% if offer.sale_type == 'quantity' %}
                                                    &nbsp; <strong><span id="totalQuantityValue">{{ total_quantity }}</span></strong> Piece
                                                {% else %}
                                                    &nbsp; <strong><span id="totalCubicMeterValue">{{ total_cubic_meter }}</span></strong> m³
                                                {% endif %}
                                            </td>
                                            
                                            <td class="inner-box total-all">&nbsp; <strong><span id="totalAllValue"></span></strong></td>
                                        </tr>
                                    </tbody>
                                    
                                </table><br>
                                <strong><center><p>Suite votre demande du, nous avons le plaisir de vous faire l'offre suivante:</p></center></strong>

                                <!-- Offer Calculations -->
                                <table class="outer-box tax-calculation-table">
                                    <tbody>
                                        
                                        <tr>
                                            <th class="inner-box" style="width: 30%;">&nbsp;TVA 19.0%</th>
                                            <td class="inner-box" style="width: 30%;">&nbsp;<strong><span id="tvaValue">{% if offerdetails.cgst %}{{ offerdetails.cgst|floatformat:3 }}{% endif %}</span></strong></td>
                                        </tr>
                                
                                        <!-- Repeat the same structure for FODEC, Timber, TOTAL HTVA -->
                                        <tr>
                                            <th class="inner-box" style="width: 30%;">&nbsp;FODEC @ 1%</th>
                                            <td class="inner-box" style="width: 30%;">&nbsp;<strong><span id="fodecValue">{% if offerdetails.igst %}{{ offerdetails.igst|floatformat:3 }}{% endif %}</span></strong></td>
                                        </tr>
                                
                                        <tr>
                                            <th class="inner-box" style="width: 30%;">&nbsp;Timber 1.000</th>
                                            <td class="inner-box" style="width: 30%;">&nbsp;<strong><span>1.000</span></strong></td>
                                        </tr>
                                
                                        <tr class="inner-box inner-box-total">
                                            <th class="inner-box" style="background-color: yellow; ">&nbsp;Net à Payer : </th>
                                            <th class="inner-box">&nbsp;<span id="totalHTVAValue">{% if offerdetails.total %}{{ offerdetails.total|floatformat:3 }}{% endif %} </span></th>
                                        </tr>
                                    </tbody>
                                </table><br><br><br><br>
                                <!--text finale de offer-->
                                <div style="margin-top: 20px; font-size: 1rem;">
                                    
                                    <p><i class="fas fa-clock"></i> Validité de l'offre: 1 mois</p>
                                    <p> <i class="fas fa-truck"></i> Délai de livraison: 10 jours après confirmation de votre commande</p>
                                    <p><i class="fas fa-dollar-sign"></i>  Mode de paiement: Paiement au comptant</p>
                                </div><br>
                                    <p>Dans l'attente d'être honoré par votre commande, cordiales salutations</p>
                                
                                    <br><br>
                                    <div class="frame" style="border: 1px solid #000; padding: 10px; text-align: center; margin-bottom: 20px; float: left; width: 100%;">
                                        <div class="header" style="margin-bottom: 20px;">
                                           
                                            <div class="subtitle-container" style="display: flex; justify-content: space-between;">
    
                                            <p class="subtitle"style="font-size: 0.9rem;"> Le Client Partenaire. </p>
                                            <p class="subtitle" style="font-size: 0.9rem;"> Service commerciale.</p>
    
                                        </div>
                                        </div>
                                    </div>
                                
                                </div>
                                </div>
                                <br><br><br>
                                <div class="wrapper">
                                    <button class="center btn btn-primary" onclick="printpage('printArea')">Imprimer</button>
                                    <button class="center btn btn-success" type="submit">Enregistrer le brouillon</button>
                                    <a href="{% url 'offer-list' %}" class="btn center btn-secondary">Retour</a>
                                </div>     
                        
                      
                    
       
    </form>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <script>
        function calculateAmounts() {
            var totalHT = 0;
            var totalCubicMeter = 0; // Add a variable for total cubic meters
        
            {% for item in items %}
                totalHT += parseFloat("{{ item.total_price }}") || 0;
                totalCubicMeter += parseFloat("{{ item.cubic_meter }}") || 0; // Sum up cubic meter values
            {% endfor %}
        
            var tvaRate = 0.19;
            var fodecRate = 0.01;
            var timberValue = 1.000;
        
            var tva = totalHT * tvaRate;
            var fodec = totalHT * fodecRate;
        
            var totalHTVA = totalHT + tva + fodec + timberValue;
        
            // Format the values with a space as a thousands separator
            var formattedTva = tva.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
            var formattedFodec = fodec.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
            var formattedTotalHTVA = totalHTVA.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
            var formattedTotalCubicMeter = totalCubicMeter.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
        
            // Set the values in the corresponding hidden input fields
            $("input[name='cgst']").val(formattedTva);
            $("input[name='igst']").val(formattedFodec);
            $("input[name='total']").val(formattedTotalHTVA);
        
            // Display formatted values for each field
            $("#tvaValue").text(formattedTva);
            $("#fodecValue").text(formattedFodec);
            $("#totalHTVAValue").text(formattedTotalHTVA);
        
            // Calculate and display the total of all items and total cubic meters
            var totalAll = totalHT.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
            $("#totalAllValue").text(totalAll);
        
            var totalCubicMeterElement = $("#totalCubicMeterValue");
            if (totalCubicMeterElement.length) {
                totalCubicMeterElement.text(formattedTotalCubicMeter);
            }
        }
        
        // Call calculateAmounts initially to populate the values
        calculateAmounts();
        function calculateQuantityAndCubicMeter() {
            var totalQuantity = 0;
            var totalCubicMeter = 0;
        
            {% for item in items %}
                totalQuantity += parseFloat("{{ item.quantity }}") || 0;  // Assuming quantity is a numeric field
                totalCubicMeter += parseFloat("{{ item.cubic_meter }}") || 0;
            {% endfor %}
        
            // Format the values with a space as a thousands separator
            var formattedTotalQuantity = totalQuantity.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
            var formattedTotalCubicMeter = totalCubicMeter.toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });
        
            // Set the values in the corresponding elements
            $("#totalQuantityValue").text(formattedTotalQuantity);
            $("#totalCubicMeterValue").text(formattedTotalCubicMeter);
        }
        
        // Call the function initially to populate the values
        calculateQuantityAndCubicMeter();
    </script>
    

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    <script>
        var originalDate = "{{ offer.time.date }}";
        var formattedDate = new Date(originalDate).toLocaleDateString('en-US', {
            month: '2-digit',
            day: 'numeric',
            year: 'numeric'
        });
    
        document.getElementById('formattedDate').textContent = formattedDate;
    </script>

    

{% endblock %}