{% extends bill_base %}
{% load static %}

{% block title %} ande de livraision n° : {{ bill.billno }}{% endblock title %}

{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Bande de livraision  n° : {{ bill.billno }}</div>

    <form method="post">
    {% csrf_token %}

        <div class="bg">

            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>

                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;"><strong>Bande de livraision - VENTE N° : {{ bill.billno }}</strong></p> </td>
                        </tr>

                        <tr style="text-align: center;">
                            {% for item in items %}

                            <td >
                                <span style="font-size: 350%;">S.G.B</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">NÉGOCE EN : {{ item.stock.name }}</span> <br>
                                <span style="font-weight: bold;">ADRESSE ENREGISTRÉE :</span> Rue du Centre de Nabeul<br>Umatilla, OR 97882<br>
                                <span style="font-weight: bold;">EMAIL : SamGlobalBusnisse@gmail.com</span> <br><br>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">NUMÉRO DE TVA - 123456789CASTR0</td>
                                    </tr>
                                    <tr>
                                        <td class "inner-box" style="width: 50%; font-weight: bold;">&nbsp;NOM DU DESTINATAIRE / ACHETEUR</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;NUMÉRO DE FACTURE</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DATE</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;" rowspan="3">{{ bill.address|linebreaks }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;NUMÉRO DE ROUTE</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="eway" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.eway %}{{ billdetails.eway }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;NUMÉRO DE VÉHICULE</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="veh" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.veh %}{{ billdetails.veh }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DESTINATION</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="destination" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.destination %}{{ billdetails.destination }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;NUMÉRO DE TVA : {{ bill.gstin }} </td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;N° DE BON DE COMMANDE &amp; DATE</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="po" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}"> </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                              <strong> <center> <p>nous avons l'honneur de communiquer notre meilleure offre de prix détaillés comme suit</p></center></strong>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">&nbsp;N°</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">MARCHANDISES</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp;NCS/CSA</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTE MTS</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TARIF PMT</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TOTAL  $</td>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">PS</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;"></td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.cubic_meter }} m3</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                            <td class="inner-box" style="width: 5%;">&nbsp;0</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp;TVA 19.0%</td>
                                        <td class="inner-box align-middle" style="width: 30%;">&nbsp; <input type="text" name="cgst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cgst %}{{ billdetails.cgst }}{% endif %}"></td>
                                        <!-- Add a span element with an ID for displaying the calculated value -->
                                    </tr>
                                    
                                    <!-- Repeat the same structure for FODEC, TTC, and TOTAL HTVA -->
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;FODEC @ 1%</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="text" name="igst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}"></td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TTC @ 1%</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="text" name="tcs" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.tcs %}{{ billdetails.tcs }}{% endif %}"></td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold; background-color: yellow;">&nbsp;TOTAL HTVA</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="text" name="total" class="align-middle" pattern="[0-9]+\.[0.9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.total %}{{ billdetails.total }}{% endif %}"> </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right;">
                                <span style="font-weight: bold;">S.G.B <br><br><br><br> Signature</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- TEXTE FINAL -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Imprimer</button>
            <button class="center btn btn-success" type="submit">Enregistrer le brouillon</button>
            <a href="{% url 'sales-list' %}" class="btn center btn-secondary">Retour</a>
        </div>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function calculateAmounts() {
            var totalHT = 0;
            {% for item in items %}
                totalHT += parseFloat("{{ item.totalprice }}") || 0;
            {% endfor %}
    
            var tvaRate = 0.19;
            var fodecRate = 0.01;
            var ttcRate = 0.01;
    
            var tva = totalHT * tvaRate;
            var fodec = totalHT * fodecRate;
            var ttc = totalHT * ttcRate;
    
            // Sum up to get the totalHTVA
            var totalHTVA = totalHT + tva + fodec + ttc;
    
            // Set the values in the corresponding input fields
            $("input[name='cgst']").val((totalHT + tva).toFixed(2));
            $("input[name='igst']").val((totalHT + fodec+tva).toFixed(2));
            $("input[name='tcs']").val((totalHT + ttc +fodec+tva).toFixed(2));
            $("input[name='total']").val(totalHTVA.toFixed(2));
    
            // Display calculated values for each field (optional)
            $("#tvaValue").text(tva.toFixed(2));
            $("#fodecValue").text(fodec.toFixed(2));
            $("#ttcValue").text(ttc.toFixed(2));
            $("#totalHTVAValue").text(totalHTVA.toFixed(2));
        }
    
        // Call calculateAmounts initially to populate the values
        calculateAmounts();
    </script>
    

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>

    

{% endblock %}

                                              
