{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Add Container {% endblock title %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">
                        <span class="fa-stack">
                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        Ajouter Conteneur
                    </h3>
                </div>

                <div class="card-body">
                    <form method="post" class="stock-form">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">Nom De Conteneur</label>
                            {{ form.name|add_class:"form-control" }}
                            {{ form.name.errors }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description</label>
                            {{ form.description|add_class:"form-control" }}
                            {{ form.description.errors }}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Ajouter Conteneur</button>
                            <a href="{% url 'container_list' %}" class="btn btn-secondary">Anuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
