{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block title %} All Stocks {% endblock title %}

{% block content %}

<style>
    .input-container {
        margin-bottom: 20px;
        max-width: 300px;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #343a40; /* Dark gray background for header cells */
        color: #fff;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2; /* Light gray background for even rows */
    }

    tbody tr:hover {
        background-color: #d4edda; /* Light green background on hover */
    }

    .total-row {
        font-weight: bold;
        background-color: #007bff; /* Blue background for total row */
        color: #fff;
    }
</style>

<br>
<div class="row" style="color: #4e4e4e; font-weight: bold; font-size: 3rem;">
    <div class="col-md-12">All Stocks</div>
</div>
<div style="border-bottom: 1px solid white;"></div>

<div class="input-container">
    <input type="text" id="search-container" class="form-control" placeholder="Search by Stock Name, Wood Type, or Thickness">
</div>
<button id="exportButton" class="btn btn-primary">
    <i class="fas fa-file-csv"></i> Export as CSV
</button>

{% if stocks %}
    <table class="table table-css table-bordered table-hover">
        <thead class="thead-dark align-middle">
            <tr>
                <th width="20%">Stock Name</th>
                <th width="7%">Current Stock in Inventory</th>
                <th width="15%">Wood Type</th>
                <th width="15%">Length</th>
                <th width="15%">Width</th>
                <th width="15%">Thickness</th>
                <th width="10%">Cubic Meter</th>
                <th width="10%">Status</th> <!-- New column for status -->

                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.wood_type }}</td>
                <td>{{ stock.length }}</td>
                <td>{{ stock.width }}</td>
                <td>{{ stock.thickness }}</td>
                <td>{{ stock.cubic_meter }} m3</td>
                <td style="color: 
                    {% if stock.status == 'STOCKED' %}
                        green;   <!-- Change the color to green when STOCKED -->
                    {% elif stock.status == 'OUT_OF_STOCK' %}
                        red;    <!-- Change the color to red when OUT_OF_STOCK -->
                    {% else %}
                        blue;  <!-- Change the color to blue for other statuses, assuming 'OPEN' status -->
                    {% endif %}">
                    {{ stock.status }}
                </td>
                <td>
                    <a href="{% url 'edit-stock' stock.pk %}" class="btn btn-info btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'delete-stock' stock.pk %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr class="thead-dark align-middle">
                <tr>
                <td colspan="9">
                    <strong>Total: {{ stocks|length }}</strong>
                </td>
            </tr>
            </tr>
        </tbody>
    </table>
    <div class="align-middle">
        {% if stocks.has_other_pages %}
            {% if stocks.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ stocks.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% for num in stocks.paginator.page_range %}
                {% if stocks.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > stocks.number|add:'-3' and num < stocks.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    
            {% if stocks.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ stocks.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ stocks.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>
    
{% else %}
    <div style="color: #575757; font-weight: bold; font-size: 1.5rem; text-align: center;">
        The records are empty. Please try adding some.
    </div>
{% endif %}

</div>


<script>
    const searchInput = document.getElementById("search-container");
    const stocks = document.querySelectorAll('.table tbody tr');

    searchInput.addEventListener("input", () => {
        const searchText = searchInput.value.trim().toLowerCase();

        stocks.forEach(stock => {
            const stockName = stock.querySelector('td:nth-child(1)').textContent.trim().toLowerCase();
            const woodType = stock.querySelector('td:nth-child(3)').textContent.trim().toLowerCase();
            const thickness = stock.querySelector('td:nth-child(6)').textContent.trim().toLowerCase();

            // Check if the search text matches the stock name, wood type, or thickness
            if (stockName.includes(searchText) || woodType.includes(searchText) || thickness.includes(searchText)) {
                stock.style.display = "table-row";
            } else {
                stock.style.display = "none";
            }
        });
    });

 // Function to convert table data to CSV format
 function convertToCSV() {
    const rows = document.querySelectorAll('.table tbody tr');
    let csvContent = 'data:text/csv;charset=utf-8,';

    rows.forEach(row => {
        const rowData = [];
        row.querySelectorAll('td').forEach(cell => {
            rowData.push(cell.textContent);
        });
        const rowString = rowData.join(',');
        csvContent += rowString + '\n';
    });

    return encodeURI(csvContent);
}

// Function to trigger the download of the CSV file
function downloadCSV() {
    const csvData = convertToCSV();
    const link = document.createElement('a');
    link.setAttribute('href', csvData);
    link.setAttribute('download', 'stocks.csv');
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

// Event listener for the export button
document.getElementById('exportButton').addEventListener('click', function() {
    downloadCSV();
});
</script>

{% endblock content %}
