{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block title %} Inventory List {% endblock title %}

{% block content %}

<style>
    .input-container {
        margin-bottom: 20px; /* Add spacing below the input container */
        max-width: 300px;
        
    }

    .table-bordered {
        border: 1px solid #dee2e6; /* Updated border style */
    }

    .table thead {
        background-color: #f8f9fa; /* Header background color */
    }

    .table th {
        text-align: center;
    }

    .container-name {
        background-color: #007BFF;
        color: #FFFFFF;
        padding: 10px;
    }

    .pagination {
        text-align: center;
        margin-top: 20px;
    }

    .container .btn {
        margin-right: 5px; /* Adjust the button margin */
    }

    .no-records {
        color: #575757;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }
</style>

<br>
<div class="row" style="color: #4e4e4e; font-style: bold; font-size: 3rem;">
    <div class="col-md-8"  style="font-weight: bold;">Colis avec Contenaire </div>
    <div class="col-md-4" style="text-align: right;">
        <a class="btn btn-success" href="{% url 'new-stock' %}">
            <i class="fas fa-plus"></i> Ajouter Nouveau Colis
        </a>
    </div>
</div>

<div style="border-bottom: 1px solid white;"></div>

<br>
<div class="input-container">
    <input type="text" id="search-container" class="form-control" placeholder="rechercher">
</div>
<br>
{% if grouped_stocks %}
    {% for container in grouped_stocks %}
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <td colspan="9" class="container-name">
                        <center><strong>Nom Contenaire : {{ container.container_name }}</strong></center>
                    </td>
                </tr>
                <tr>
                    <th>Colis N°</th>
                    <th>Quantity</th>
                    <th>Type De Bois</th>
                    <th>Long</th>
                    <th>Width</th>
                    <th>Ep</th>
                    <th>M3</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in container.stocks %}
                    <tr>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.wood_type }}</td>
                        <td>{{ stock.length }}</td>
                        <td>{{ stock.width }}</td>
                        <td>{{ stock.thickness }}</td>
                        <td>{{ stock.cubic_meter }} m3</td>
                        <td style="color: 
                            {% if stock.status == 'STOCKED' %}
                                green;   <!-- Change the color to green when STOCKED -->
                            {% elif stock.status == 'OUT_OF_STOCK' %}
                                red;    <!-- Change the color to red when OUT_OF_STOCK -->
                            {% else %}
                                blue;  <!-- Change the color to blue for other statuses, assuming 'OPEN' status -->
                            {% endif %}">
                            {{ stock.status }}
                        </td>
                        <td>
                            <a href="{% url 'edit-stock' stock.pk %}" class="btn btn-info btn-sm">
                                <i class="fas fa-edit"></i> 
                            </a>
                            <a href="{% url 'delete-stock' stock.pk %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> 
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="totals-row">
                    <td colspan="1"><strong>Total: </strong></td>
                    <td colspan="5"><strong> <span class="total-quantity"></span></strong></td>
                    <td colspan="3"><strong><span class="total-cubic-meters"></span> m3</strong></td>
                </tr>
            </tbody>
        </table>
     {% endfor %}
{% else %}
    <div class="no-records">
        The records are empty. Please try adding some.
    </div>
{% endif %}

<div class="align-middle">
    <!-- Log on to codeastro.com for more projects -->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
</div>


<script>
    const searchInput = document.getElementById("search-container");
    const containers = document.querySelectorAll('.table');

    searchInput.addEventListener("input", () => {
        const searchText = searchInput.value.trim().toLowerCase();

        containers.forEach(container => {
            const containerName = container.querySelector('.container-name').textContent.trim().toLowerCase();
            const stockNames = container.querySelectorAll('tbody td:first-child'); // Selecting the first cell in each row (stock name)

            let found = containerName.includes(searchText); // Check if the container name matches the search text

            stockNames.forEach(stockName => {
                const stockNameText = stockName.textContent.trim().toLowerCase();
                if (stockNameText.includes(searchText)) {
                    found = true; // If stock name matches the search text, set found to true
                }
            });

            if (found) {
                container.style.display = ""; // Show the container
                container.scrollIntoView({ behavior: 'smooth', block: 'start' });
            } else {
                container.style.display = "none"; // Hide the container
            }
        });
    });
</script>

<script>
    const calculateTotals = () => {
        document.querySelectorAll('.table').forEach((table) => {
            const quantityCells = table.querySelectorAll('tbody td:nth-child(2)');
            const cubicMeterCells = table.querySelectorAll('tbody td:nth-child(7)');
            let totalQuantity = 0;
            let totalCubicMeters = 0;

            quantityCells.forEach((cell) => {
                totalQuantity += parseInt(cell.textContent) || 0;
            });

            cubicMeterCells.forEach((cell) => {
                totalCubicMeters += parseFloat(cell.textContent) || 0;
            });

            // Update total quantity and total cubic meters in the corresponding placeholders
            table.querySelector('.totals-row .total-quantity').textContent = totalQuantity;
            table.querySelector('.totals-row .total-cubic-meters').textContent = totalCubicMeters.toFixed(2);
        });
    };

    // Call the calculateTotals function after the page is loaded
    document.addEventListener('DOMContentLoaded', calculateTotals);
</script>



{% endblock content %}
